*.egg-info
*.mo
*.pyc
.DS_Store
.Python
onegov.sublime-workspace
/.installed.cfg
/.mr.developer.cfg
/README.html
/bin/
/build/
/coverage/
/custom.cfg
/develop-eggs/
/dist/
/eggs/
/include/
/lib/
/parts/
/src/
/var/
/transfer.tar.gz
temp/
